
@font-size-extra-extra-large: 1.9em;
@font-size-extra-large: 1.1em;
@font-size-large: 1.0em;
@font-size-medium: 0.9em;

body {
    color: #000000;
    // background: #EEEEEE;
    font-size: @font-size-medium;
    line-height: 1.2;
}

#resume {
    margin: 0 auto;
    background: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: @font-size-extra-extra-large;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: @font-size-large;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    padding: 0;
}

h3 {
    font-size: @font-size-medium;
    margin: 0.8em 0 0.3em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0 1.5em;
}

h1+ul+p {
    text-align: center;
}

/* ul immediately after h1 = contact list */
h1+ul {
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000000;
}

h1+ul>li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}

h1+ul>li:after {
    content: "  \2022  ";
}

h1+ul>li:last-child:after {
    content: "";
}

/* ul immediately after h2 = skill list */
h2+ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}

h2+ul>li {
    display: inline;
    text-align: center;
    white-space: pre;
    list-style-type: none;
}

h1+ul+p {
    margin: 1em 0;
}
